<footer class="footer">

    <div class="container">

        <div class="footer__social">

            <a href="https://github.com/AlphaTanmoy" target="_blank">

                <lucide-icon [img]="Github"></lucide-icon>
                <span>Github</span>
            </a>

            <a href="https://linkedin.com/in/alpha-tanmoy" target="_blank">

                <lucide-icon [img]="Linkedin"></lucide-icon>
                <span>Linkedin</span>
            </a>

            <a href="https://youtube.com/@TanmoysYatraOfficial" target="_blank">

                <lucide-icon [img]="Youtube"></lucide-icon>
                <span>Youtube</span>
            </a>

            <a href="https://dev.tanmoysyatraofficial.store" target="_blank">

                <lucide-icon [img]="Globe"></lucide-icon>
                <span>Website</span>
            </a>

            <a href="https://blog.tanmoysyatraofficial.store" target="_blank">

                <lucide-icon [img]="Globe"></lucide-icon>
                <span>Blog</span>
            </a>

        </div>

        <p>

            © 2026 Tanmoy Das

        </p>

        <small>

            All rights reserved.

        </small>

    </div>

</footer>